.main-footer {
  background-color: orangered;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  color: rgb(212, 208, 208);
  font-weight: bold;
  font-size: 16px;
  
}
.main-footer p{
  margin-left: 500px;
}
